/* This is the style.css for the "About-Me" webpage (index.html portfolio.html and contact.html) */

/* html {
    position: relative;
    min-height: 100%;
} */
@import url('https://fonts.googleapis.com/css2?family=Concert+One&amp;display=swap');

body {
    width: 100%;
    background-image: url(./images/vector.jpg);
    background-attachment: fixed; 
    background-repeat: repeat-y;
    padding-top: 50px;
    margin-bottom: 75px;

}

.navText {
    font-family: concert one;
    font-size: x-large;

}

article {
    background-color: gainsboro;
     
}

.bord {
    border: 3px solid darkgray;
    border-radius: 9px;
}

.borderr {
    border: 3px solid darkgray;
    /* border-radius: 9px; */
}

.techIcon {
    height: 60px;
    width: auto;
}

.starIcon {
    width: 20px;
    height: 20px;
}

h3 {
    font-family: concert one;
    color: rgb(23, 167, 23);

}
h5 {
    font-family: concert one;
    color: rgb(23, 167, 23);
   
}

h6 {
    font-family: concert one;
    /* color: rgb(23, 167, 23); */
   
}

.title {
    font-size: 42px; 

}

.img-thumbnail {
    width: 250px;
    background-color: gray; 
    float: left;

}

p {
    font-family: concert one;
    font-size: medium;
    color: rgb(66, 66, 66);

}

.ico {
    padding-top: 30px;
    width: 40px;
    height: auto;
}

.bsLink {
    color: rgb(23, 167, 23);
    text-decoration: underline;
    
}

/* Pseudo Classes */

.navText:hover {
    background-color: rgb(95, 95, 95);
    border-radius: 18px;
    
}

.navText:active {
    background-color: rgb(23, 167, 23);
}

.footerContainer {
    background-color: rgba(220, 220, 220, 0.726);
    height: 33px;
    width: auto;
}

img:hover {
    background-color: rgb(23, 167, 23);

}

img:active {
    background-color: rgb(196, 255, 196);

}

.bsLink:hover {
    color: aqua;
    text-decoration: underline;

}

.bsLink:active {
    color: royalblue;

}

/* Media Queries */

/* @media screen and (min-width: 768px) { 
    body {
        
    }
}  */

