/* This is the style.css for the "About-Me" webpage (index.html portfolio.html and contact.html) */

/* html {
    position: relative;
    min-height: 100%;
} */
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@600&display=swap');

body {
    width: 100%;
    background-image: url(./images/vector.jpg);
    background-attachment: fixed; 
    background-repeat: repeat-y;
    padding-top: 50px;
    margin-bottom: 75px;

}

.navbar {
    border-bottom: 2px solid rgba(0, 0, 0, 0.233);
}

.navText {
    font-family: 'Jura', sans-serif;
    font-size: larger;
    /* font-weight: bolder; */
}

.pageTitle {
    background-color: rgba(255, 255, 255, 0);
}

article {
    background-color: gainsboro;
     
}

.box {
    box-shadow:
    -1px -1px 0 rgba(255, 255, 255, 0),
    1px 1px 0 rgba(0,0,0,.25),
    1px 1px 3px rgba(0,0,0,.25),
    2px 2px 8px rgba(0, 0, 0, 0.226),
    3px 6px 6px rgba(0, 0, 0, 0.267);
}

.bord {
    border: 3px solid darkgray;
    border-radius: 9px;
    
}

.borderr {
    border: 2px solid darkgray;
    /* border-radius: 9px; */
}

.techIcon {
    height: 60px;
    width: auto;
}

.starIcon {
    width: 20px;
    height: 20px;
}

h3 {
    font-family: 'Jura', sans-serif;
    color: rgb(23, 167, 23);

}
h5 {
    font-family: 'Jura', sans-serif;
    color: rgb(255, 255, 255);
   
}

h6 {
    font-family: 'Jura', sans-serif;
    /* color: rgb(23, 167, 23); */
   
}

.title {
    font-size: 48px; 
    text-shadow:    
    -1px -1px 0 rgba(255, 255, 255, 0),
    1px 1px 0 rgba(255, 255, 255, 0.25),
    1px 1px 3px rgba(255, 255, 255, 0.25),
    2px 2px 8px rgba(0, 0, 0, 0.226),
    3px 6px 6px rgba(0, 0, 0, 0.267);

}

.img-thumbnail {
    width: 250px;
    background-color: gray; 
    float: left;

}

p {
    font-family: 'Jura', sans-serif;
    font-size: medium;
    color: rgb(66, 66, 66);

}

.ico {
    padding-top: 30px;
    width: 40px;
    height: auto;
}

.bsLink {
    color: rgb(23, 167, 23);
    text-decoration: underline;
    
}

.footerContainer {
    background-color: rgba(220, 220, 220, 0.726);
    /* height: 33px; */
    width: auto;
}

/* Pseudo Classes */

.navText:hover {
    background-color: rgb(95, 95, 95);
    border-radius: 9px;
    
}

.navText:active {
    background-color: rgba(194, 194, 194, 0.534);
}

img:hover {
    background-color: rgba(194, 194, 194, 0.534);

}

img:active {
    background-color: rgb(196, 255, 196);

}

.bsLink:hover {
    color: aqua;
    text-decoration: underline;

}

.bsLink:active {
    color: royalblue;

}

/* Media Queries */

/* @media screen and (max-width: 768px) { 

    .title {
        font-size: 32px; 
        text-shadow:    
        -1px -1px 0 rgba(255, 255, 255, 0),
        1px 1px 0 rgba(255, 255, 255, 0.25),
        1px 1px 3px rgba(255, 255, 255, 0.25),
        2px 2px 8px rgba(0, 0, 0, 0.226),
        3px 6px 6px rgba(0, 0, 0, 0.267);
    
    }
    
}  */

